<h1>RxJS examples</h1>
<nav>
    <ul>
      <li><a routerLink="/higher-order" routerLinkActive="active" ariaCurrentWhenActive="page">Higher-order operators</a></li>
      <li><a routerLink="/conditional" routerLinkActive="active" ariaCurrentWhenActive="page">Conditional streams</a></li>
      <li><a routerLink="/combine" routerLinkActive="active" ariaCurrentWhenActive="page">Combine streams example</a></li>
      <li><a routerLink="/share" routerLinkActive="active" ariaCurrentWhenActive="page">Cache API responses</a></li>
    </ul>
  </nav>
<router-outlet></router-outlet>